<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epamtraining.vklite" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- TODO garbage on my phone? -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".VKApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_vklogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".auth.StartActivity"
            android:configChanges="orientation|screenSize|screenLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name=".db.VKContentProvider"
            android:authorities="com.epamtraining.vk"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".activities.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".activities.MainActivity" >
             />
        </activity>
        <activity
            android:name=".activities.ChooseFriendActivity"
            android:label="@string/title_activity_choose_friend"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
    </application>

</manifest>
